####################################
# OS / Editor
####################################
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/


####################################
# Logs & temp
####################################
*.log
*.tmp
*.bak


####################################
# Terraform
####################################
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars


####################################
# Packer
####################################
packer_cache/
*.box
output-*/
*.ova
*.ovf
*.vmdk


####################################
# Ansible
####################################
*.retry
ansible.log


####################################
# Docker
####################################
**/data/
**/volumes/
**/minecraft_data/


####################################
# Secrets / credentials
####################################
*.env
.env
.env.*
*.pem
*.key
id_rsa
id_rsa.pub


####################################
# Python
####################################
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/


####################################
# Backup files
####################################
backups/
*.tar
*.tar.gz
