version: "3.9"

services:
  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft-server
    restart: unless-stopped

    ports:
      - "25565:25565"

    environment:
      EULA: "TRUE"
      TYPE: PAPER
      MEMORY: 2G

    volumes:
      - minecraft_data:/data

volumes:
  minecraft_data:
